Django
django-dev-urls
django-github-oauth
django-configurations-base
django-configurations-ec2
django-configurations-github-oauth
django-configurations-google-analytics
django-configurations-webpack
gunicorn
